JWT_KEY=

POSTGRES_USER=postgres
POSTGRES_HOST=localhost
POSTGRES_DB=testdb
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_DISABLE_SSL=true

DB_CONNECTION='mongodb://wallfair:wallfair@127.0.0.1/wallfair?authSource=admin'

REDIS_CONNECTION='redis://localhost:6379'

RABBITMQ_CONNECTION='amqp://localhost:5673'

GAME_NAME=CASINO_ROSI
MAX_AMOUNT_PER_TRADE=100
GAME_INTERVAL_IN_SECONDS=5

CASINO_WALLET_ADDR=CASINO_ROSI
WALLET_INITIAL_LIQUIDITY_TO_MINT=1000000n

GAUSSIAN_MEAN=0
GAUSSIAN_STDEV=0.3
MAX_DELAY=120
MIN_DELAY=0
INTERVALS=4
